
<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1"></div>
    <footer>
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="col-md-12 text-center">
                    <div class="copyright"> © Grupo 1 ISW 2020</div>
                </div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Privacidad</a></li>
                        <li class="list-inline-item"><a href="#">Terminos</a></li>
                        <li class="list-inline-item"><a href="#">Contacto</a></li>
                   </ul>  
                    
              </div>
    </div>
    
    </footer>
</body>
