<div class="row justify-content-center mt-3">
    <div class="col-10 col-md-6">
        <div class="form-group">
            <label for="id-producto"><strong>¿Que debe buscar el cadete? </strong> </label>
            <textarea class="form-control" name="" id="id-producto" cols="30" rows="3"
                placeholder="Buscar sarasa"></textarea>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="Precio del producto">
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-xs-6">
            <div class="field">
                <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
                <label for="#elegir"><strong>Puedes incluir una fotografia descriptiva: </strong>  </label>
                <br>
                <input id="elegir" name="uploadedfile" type="file" /><br />
            </div>
        </div>
    </div>
</div>