
<div class="container">
<form>
 <h4>Indicanos la direccion de retiro del pedido:</h4>  
 <br>
    <div class="form-group"> 
        <label for="street1_id" class="control-label">Nombre de calle:</label>
        <input type="text" class="form-control" id="street1_id" name="street" placeholder="Solo letras">
    </div>                    
                            
    <div class="form-group"> 
        <label for="street2_id" class="control-label">Numero:</label>
        <input type="text" class="form-control" id="numCalle" name="numCalle" placeholder="solo numeros">
    </div>    
                               
                            
    <div class="form-group">
        <label for="state_id" class="control-label">Ciudad:</label>
        <select class="form-control" id="state_id">
            <option value="AL">Capital</option>
            <option value="AK">Alta Gracia</option>
            <option value="AZ">Jesus Maria</option>
            <option value="AR">Cosquin</option>
            <option value="CA">Villa Maria</option>
            <option value="CO">Rio Cuarto</option>
            <option value="CT">Villa Carlos Paz</option>
            <option value="DE">San Francisco</option>
            <option value="DC">Bell Ville</option>
            <option value="FL">Arroyito</option>
            <option value="GA">La Calera</option>
        </select>                    
    </div>
    
    <div class="form-group"> 
        <label for="street2_id" class="control-label">Referencia (opcional):</label>
        <textarea class="form-control" name="" id="id-producto" cols="50" rows="5" placeholder="indica una referencia"></textarea>
    </div>    
       
    <div class="form-group"> 
        <label for="street2_id" class="control-label">MAPA DE GOOGLE</label>
    </div> 
    
</form>
</div>